*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
p{
    font-size: 16px;
    color: #444343;
}
.btn{
    background-color: #F15B22;
    color: #ffffff;
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-out;
}
.btn:hover{
    color: #F15B22;
    background: transparent;
    border: 2px solid #F15B22;
}

header{
    background-image: url(../images/banner/banner1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
}
.intro{
    position: absolute;
    top: 216px;
    left: 840px;
    right: 230px;  
    text-align: right;
}
.intro-heading{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
}
.intro-description{
    margin: 28px 0px;
}
.prev-year-container{
    margin: 130px 320px 130px 205px;
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    align-items: center;
}
.prev-year-container img{
    width: 570px;
    height: 720px;
}
.prev-year-content{
    width: 416px;
    height: 400px;
}
.prev-year-content h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.prev-year-content .description{
    margin-bottom: 16px;
}
.prev-year-content ul li{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-bottom: 8px;
}
.prev-year-content ul li span{
    color: #16D887;
}
.my-plan{
    margin: 130px 230px;
    text-align: center;
}
.my-plan h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.card-container{
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
}
.card-content h3{
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}
.call-now{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px 0px;
}
.call-now .container{
    background-image: url(../images/gradient3.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 300px;
    
}
.call-now .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 60px;
}
.call-now .content h2{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    width: 460px;
    margin-bottom: 25px;
}
.btn-2{
    background-color: #ffffff;
    color: #F15B22;
    transition: all 0.1s ease-in;
}
.btn-2:hover{
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
}

footer{
    background-color: #151414;

}
footer .container{
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;
}
footer p{
    color: #ffffff;
    margin-bottom: 25px;
}
.content-1{
    width: 485px;
    
}
.content-1 h2{
    color: #F8F8F8;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.content-1 img{
    margin-top: 10px;
    margin-right: 16px;
    cursor: pointer;
}
.content-2{
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.content-2 h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
    color: #ffffff;
}
.content-2 #email{
    width: 325px;
    height: 65px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    padding: 20px;
}
.content-2 #email::placeholder{
    color: #F3F3F3;
    opacity: 0.8; 
    font-size: 1rem;
    font-weight: 600;
}
.content-2 button{
    margin-top: 20px;
    transition: all 0.1s ease-in-out;
}
.content-2 button:hover{
    color: #F15B22;
    background: transparent;
    border: 2px solid #F15B22;
}
